#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <150>;
    tapping-term-ms = <150>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <150>;
    quick-tap-ms = <150>;
};

&pointing_listener {
    input-processors = <&zip_temp_layer 4 10000>;
};

&mkp_input_listener { input-processors = <&zip_temp_layer 4 10000>; };

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        macro_vim_dd: macro_delete_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 100>,
                <&kp LS(END)>,
                <&macro_wait_time 100>,
                <&kp LC(X)>;

            label = "MACRO_DELETE_LINE";
        };

        macro_vim_yy: macro_yank_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 100>,
                <&kp LS(END)>,
                <&macro_wait_time 100>,
                <&kp LC(C)>;

            label = "MACRO_YANK_LINE";
        };

        macro_vim_shift_d: macro_vim_shift_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(END)>, <&macro_wait_time 100>, <&kp LC(X)>;

            label = "MACRO_VIM_SHIFT_D";
        };

        macro_vim_o: macro_vim_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END>, <&macro_wait_time 100>, <&kp ENTER>;

            label = "MACRO_VIM_O";
        };

        macro_vim_shift_o: macro_vim_shift_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 100>,
                <&kp ENTER>,
                <&macro_wait_time 100>,
                <&kp UP_ARROW>;

            label = "MACRO_VIM_SHIFT_O";
        };
    };

    behaviors {
        td_vim_d: td_vim_d {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_VIM_D";
            #binding-cells = <0>;
            bindings = <&kp LC(X)>, <&macro_vim_dd>;
        };

        mm_vim_shift_d: mm_vim_shift_d {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_D";
            bindings = <&td_vim_d>, <&macro_vim_shift_d>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_vim_y: td_vim_y {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_VIM_Y";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>, <&macro_vim_yy>;
        };

        mm_vim_ctrl_u: mm_vim_ctrl_u {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_CTRL_U";
            bindings = <&kp LC(Z)>, <&kp PAGE_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mm_vim_shift_o: mm_vim_shift_o {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_O";
            bindings = <&macro_vim_o>, <&macro_vim_shift_o>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_ctrl_then_shift_d: mm_vim_ctrl_then_shift_d {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_CTRL_THEN_SHIFT_D";
            bindings = <&mm_vim_shift_d>, <&kp PAGE_DOWN>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mm_vim_shift_4: mm_vim_shift_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_4";
            bindings = <&none>, <&kp END>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_ctrl_r: mm_vim_ctrl_r {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_CTRL_R";
            bindings = <&none>, <&kp LC(Y)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&none    &none     &none    &none    &none    &none &none       &none    &none     &none    &none      &none
&none  &kp Q               &kp W         &kp E         &kp R      &kp T                                                          &kp Y        &kp U  &kp I      &kp O       &kp P                  &none
&none  &mt LEFT_CONTROL A  &kp S         &kp D         &kp F      &kp G        &none                  &none              &kp H        &kp J  &kp K      &kp L       &mt RCTRL MINUS        &none
&none  &mt LEFT_SHIFT Z    &kp X         &kp C         &kp V      &kp B        &mo 7                  &none                &kp N        &kp M  &kp COMMA  &kp PERIOD  &mt RIGHT_SHIFT SLASH  &none
&none  &none               &kp LEFT_WIN  &kp LEFT_ALT  &kp SPACE  &mo 2  &mo 6  &mt RSHIFT LANGUAGE_2  &lt 3 ENTER  &kp BSPC  &kp RALT   &kp RGUI  &kp RCTRL             &kp RCTRL
            >;
        };
    };
};
