#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <0>;
    tapping-term-ms = <150>;
    flavor = "balanced";
};

&lt {
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    flavor = "balanced";
};

&zip_temp_layer {
    excluded-positions = <
        34 // K
    >;

    require-prior-idle-ms = <200>;
};

&mkp_input_listener { input-processors = <&zip_temp_layer 4 10000>; };

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        macro_vim_dd: macro_delete_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 100>,
                <&kp LS(END)>,
                <&macro_wait_time 100>,
                <&kp LC(X)>;

            label = "MACRO_DELETE_LINE";
        };

        macro_vim_yy: macro_yank_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 100>,
                <&kp LS(END)>,
                <&macro_wait_time 100>,
                <&kp LC(C)>;

            label = "MACRO_YANK_LINE";
        };

        macro_vim_shift_d: macro_vim_shift_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(END)>, <&macro_wait_time 100>, <&kp LC(X)>;

            label = "MACRO_VIM_SHIFT_D";
        };

        macro_vim_shift_y: macro_vim_shift_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(END)>, <&macro_wait_time 100>, <&kp LC(C)>;

            label = "MACRO_VIM_SHIFT_Y";
        };

        macro_vim_o: macro_vim_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END>, <&macro_wait_time 100>, <&kp ENTER>;

            label = "MACRO_VIM_O";
        };

        macro_vim_shift_o: macro_vim_shift_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 100>,
                <&kp ENTER>,
                <&macro_wait_time 100>,
                <&kp UP_ARROW>;

            label = "MACRO_VIM_SHIFT_O";
        };

        macro_vim_join: macro_vim_join {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp END>,
                <&macro_wait_time 100>,
                <&kp DELETE>,
                <&macro_wait_time 100>,
                <&kp SPACE>;

            label = "MACRO_VIM_JOIN";
        };

        macro_vim_visual_y: macro_vim_visual_y {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp RSHIFT &kp LC(C)>,
                <&macro_wait_time 50>,
                <&kp RIGHT>,
                <&macro_wait_time 50>,
                <&to 0>;

            label = "MACRO_VIM_VISUAL_Y";
        };

        macro_vim_visual_cut: macro_vim_visual_cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp RSHIFT &kp LC(X)>,
                <&macro_wait_time 50>,
                <&to 0>;

            label = "MACRO_VIM_VISUAL_CUT";
        };

        macro_vim_visual_p: macro_vim_visual_p {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp RSHIFT &kp LC(V)>,
                <&macro_wait_time 50>,
                <&to 0>;

            label = "MACRO_VIM_VISUAL_P";
        };

        macro_vim_v_line: macro_vim_v_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp HOME>,
                <&macro_wait_time 50>,
                <&kp LS(DOWN)>,
                <&macro_wait_time 50>,
                <&to 8>;

            label = "MACRO_VIM_V_LINE";
        };

        macro_vim_visual_exit: macro_vim_visual_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp RSHIFT &kp RIGHT>,
                <&macro_wait_time 50>,
                <&to 0>;

            label = "MACRO_VIM_VISUAL_EXIT";
        };
    };

    behaviors {
        td_vim_d: td_vim_d {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_VIM_D";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_vim_dd>;
        };

        mm_vim_shift_d: mm_vim_shift_d {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_D";
            bindings = <&td_vim_d>, <&macro_vim_shift_d>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_vim_y: td_vim_y {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_VIM_Y";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_vim_yy>;
        };

        mm_vim_shift_y: mm_vim_shift_y {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_Y";
            bindings = <&td_vim_y>, <&macro_vim_shift_y>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_ctrl_u: mm_vim_ctrl_u {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_CTRL_U";
            bindings = <&kp LC(Z)>, <&kp PAGE_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mm_vim_shift_o: mm_vim_shift_o {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_O";
            bindings = <&macro_vim_o>, <&macro_vim_shift_o>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_ctrl_then_shift_d: mm_vim_ctrl_then_shift_d {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_CTRL_THEN_SHIFT_D";
            bindings = <&mm_vim_shift_d>, <&kp PAGE_DOWN>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mm_vim_shift_4: mm_vim_shift_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_4";
            bindings = <&none>, <&kp END>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_ctrl_r: mm_vim_ctrl_r {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_CTRL_R";
            bindings = <&none>, <&kp LC(Y)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        td_vim_g: td_vim_g {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_VIM_G";
            #binding-cells = <0>;
            bindings = <&none>, <&kp LC(HOME)>;
        };

        mm_vim_g: mm_vim_g {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_G";
            bindings = <&td_vim_g>, <&kp LC(END)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_j: mm_vim_j {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_J";
            bindings = <&kp DOWN>, <&macro_vim_join>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_shift_6: mm_vim_shift_6 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_SHIFT_6";
            bindings = <&none>, <&kp HOME>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_v: mm_vim_v {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_V";
            bindings = <&to 8>, <&macro_vim_v_line>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_vim_visual_g: td_vim_visual_g {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_VIM_VISUAL_G";
            #binding-cells = <0>;
            bindings = <&none>, <&kp LS(LC(HOME))>;
        };

        mm_vim_visual_g: mm_vim_visual_g {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_VISUAL_G";
            bindings = <&td_vim_visual_g>, <&kp LS(LC(END))>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_n: mm_vim_n {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_N";
            bindings = <&kp F3>, <&kp LS(F3)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_q: mm_vim_q {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_Q";
            bindings = <&kp ESCAPE>, <&kp LC(Q)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_vim_w: mm_vim_w {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_VIM_W";
            bindings = <&kp LC(RIGHT)>, <&kp LC(BACKSPACE)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&none  &none               &none         &none         &none        &none                      &none        &none  &none      &none       &none                  &none
&none  &kp Q               &kp W         &kp E         &kp R        &kp T                      &kp Y        &kp U  &kp I      &kp O       &kp P                  &none
&none  &mt LEFT_CONTROL A  &kp S         &kp D         &kp F        &kp G        &none  &none  &kp H        &kp J  &kp K      &kp L       &mt RCTRL MINUS        &none
&none  &mt LEFT_SHIFT Z    &kp X         &kp C         &kp V        &kp B        &mo 7  &mo 7  &kp N        &kp M  &kp COMMA  &kp PERIOD  &mt RIGHT_SHIFT SLASH  &none
&none  &mo 6               &kp LEFT_WIN  &kp LEFT_ALT  &lt 2 SPACE  &lt 2 SPACE  &mo 1  &mo 2  &lt 1 ENTER  &none  &none      &mo 6       &mo 6                  &none
            >;
        };

        SYMBOL {
            bindings = <
&none  &none                  &none      &none             &none              &none                      &none          &none          &none             &none          &none   &none
&none  &kp N1                 &kp N2     &kp N3            &kp N4             &kp N5                     &kp N6         &kp N7         &kp N8            &kp N9         &kp N0  &none
&none  &mt LCTRL TAB          &kp GRAVE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp DELETE   &none  &none  &kp BACKSPACE  &kp SEMICOLON  &kp SINGLE_QUOTE  &kp BACKSLASH  &trans  &none
&none  &mt LEFT_SHIFT ESCAPE  &none      &none             &none              &none        &none  &none  &none          &kp EQUAL      &trans            &trans         &trans  &none
&none  &none                  &trans     &trans            &lt 3 SPACE        &lt 3 SPACE  &none  &mo 3  &none          &none          &none             &trans         &none   &none
            >;
        };

        VIM_NORMAL_1 {
            bindings = <
&none  &none           &none       &none                      &none           &none                       &none            &none           &none         &none            &none            &none
&none  &none           &mm_vim_w   &kp LC(RIGHT)              &mm_vim_ctrl_r  &none                       &mm_vim_shift_y  &mm_vim_ctrl_u  &none         &mm_vim_shift_o  &kp LC(V)        &none
&none  &kp LCTRL       &none       &mm_vim_ctrl_then_shift_d  &none           &mm_vim_g     &none  &none  &kp LEFT         &mm_vim_j       &kp UP_ARROW  &kp RIGHT        &kp RCTRL        &none
&none  &kp LEFT_SHIFT  &kp DELETE  &none                      &mm_vim_v       &kp LC(LEFT)  &none  &none  &mm_vim_n        &none           &none         &none            &kp RIGHT_SHIFT  &none
&none  &none           &trans      &trans                     &none           &none         &mo 3  &none  &lt 3 ENTER      &none           &none         &trans           &none            &none
            >;
        };

        VIM_NORMAL_2 {
            bindings = <
&none  &none           &none   &none   &none            &none                &none            &none  &none  &none   &none            &none
&none  &none           &none   &none   &mm_vim_shift_4  &none                &mm_vim_shift_6  &none  &none  &none   &kp HOME         &none
&none  &kp LCTRL       &none   &none   &none            &none  &none  &none  &kp LEFT         &none  &none  &none   &kp RCTRL        &none
&none  &kp LEFT_SHIFT  &none   &none   &none            &none  &none  &none  &none            &none  &none  &none   &kp RIGHT_SHIFT  &none
&none  &none           &trans  &trans  &none            &none  &none  &none  &none            &none  &none  &trans  &none            &none
            >;
        };

        MOUSE {
            bindings = <
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &mo 5  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };

        SCROLL {
            bindings = <
&none  &none  &none  &none  &none  &none                &none  &none     &none  &none     &none  &none
&none  &none  &none  &none  &none  &none                &none  &none     &none  &none     &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &mkp MB1  &none  &mkp MB2  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &mkp MB4  &none  &mkp MB5  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none     &none  &none     &none  &none
            >;
        };

        FUNCTION {
            bindings = <
&none  &none   &none       &none   &none   &none                      &none        &none   &none   &none       &none    &none
&none  &kp F1  &kp F2      &kp F3  &kp F4  &kp F5                     &kp F6       &kp F7  &kp F8  &kp F9      &kp F10  &none
&none  &none   &sys_reset  &none   &none   &none        &none  &none  &none        &none   &none   &sys_reset  &none    &none
&none  &none   &none       &none   &none   &bootloader  &none  &none  &bootloader  &none   &none   &none       &none    &none
&none  &none   &none       &none   &none   &none        &none  &none  &none        &none   &none   &none       &none    &none
            >;
        };

        BLUETOOTH {
            bindings = <
&none  &none           &none         &none         &none         &none                       &none  &none         &none  &none  &none  &none
&none  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &none  &out OUT_USB  &none  &none  &none  &none
&none  &bt BT_CLR_ALL  &none         &none         &none         &none         &none  &none  &none  &none         &none  &none  &none  &none
&none  &none           &none         &bt BT_CLR    &none         &out OUT_BLE  &none  &none  &none  &none         &none  &none  &none  &none
&none  &none           &none         &none         &none         &none         &none  &none  &none  &none         &none  &none  &none  &none
            >;
        };

        VIM_VISUAL {
            bindings = <
&none  &none                   &none                  &none                  &none                   &none                           &none         &none         &none       &none          &none                &none
&none  &none                   &kp LS(LC(RIGHT))      &kp LS(LC(RIGHT))      &none                   &none                           &none         &none         &none       &none          &macro_vim_visual_p  &none
&none  &kp LCTRL               &none                  &macro_vim_visual_cut  &none                   &mm_vim_visual_g  &none  &none  &kp LS(LEFT)  &kp LS(DOWN)  &kp LS(UP)  &kp LS(RIGHT)  &kp RCTRL            &none
&none  &kp LEFT_SHIFT          &macro_vim_visual_cut  &none                  &macro_vim_visual_exit  &kp LS(LC(LEFT))  &none  &none  &kp F3        &none         &none       &none          &kp RIGHT_SHIFT      &none
&none  &none                   &none                  &none                  &none                   &none             &none  &none  &none         &none         &none       &none          &none                &none
            >;
        };
    };
};
